body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(UST.jpg);
    background-size: cover;

}

.box{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    top: 10px;
    left: 30px;
}

.box input[type="text"],.box input[type="password"]
{
    border: 0;
    background: white;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #EDE9D0;
    padding: 14px 10px;
    width: 350px;
    outline: none;
    color: black;
    transition: 0.25px;
}
.box input[type="text"],.box input[type="password"]focus{
    width: 270px;
    border-color: white;

}
.box input[type="submit"]{
    background: #FFBCE0;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 25px;
    outline: none;
    color: black;
    transition: 0.25px;
    cursor: pointer;
    position: relative;
    right: 105px;
}

.box input[type="button"]{
    border: 0;
    background: #FFBCE0;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 40px;
    outline: none;
    color: black;
    transition: 0.25px;
    cursor: pointer;
    position: relative;
    left: 160px;
    bottom: 65px;
}

.box input[type="submit"]:hover{
    background: white;
}


/* Admin Homepage */
/* Di pa tapos, di ren gumagana */

.sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    left: 0;
    background: #D71A1A;
}

.sidebar .text{
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #2F4858;
    letter-spacing: 1px;
}

nav ul{
    background: #D71A1A;
    height: 100%;
    width: 100%;
    list-style: none;
}

nav ul li{
    line-height: 60px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

nav ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

nav ul li a:hover{
    color: cyan;
    background: #2F4858;
    border-left-color: cyan ;

}

nav ul ul{
    position: static;
    display: none;
}

nav ul ul li{
    line-height: 42px;
    border-bottom: none;
}

nav ul ul li a{
    font-size: 17px;
    color: #D71A1A;
    padding-left: 80px;
}

nav ul ul li a span{
    position: absolute;
    top: 50%;
    right: 20%;
    font-size: 100px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}